# Python virtual environment
venv/
env/
ENV/

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
build_appimage/
release_assets/
release_files/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Databases & local user data
*.db
*.sqlite
*.sqlite3
history.db

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# OS specific
.DS_Store
Thumbs.db
